#Area {
    width: 800px;
    height: 210px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
.areadrop {
    width: 50px;
    height: 52px;
    border: 1px solid black;
    
  
}
#trex {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
}
#element {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    bottom: 0;
}
#element1 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -300px;
    bottom: 52px;
}
#element2 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -520px;
    bottom: 105px;
}
#element3 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -770px;
    bottom: 160px;
}
#drag1 {
    width: 50px;
    height: 50px;
}
